VITE_API_URL=http://localhost:8000/api
VITE_APP_NAME=StyleHub
VITE_IMAGE_URL=http://localhost:8000/storage
VITE_EXPIRES_AT=1
VITE_REVERB_APP_KEY=stylehub-local-key
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
